html,
body {
    height: 100%;
    line-height: 1;
    font-family: Arial, serif;
    font-size: 14px;
}

.main__container {
    padding: 28px;
}

.search {
    display: inline-block;
    margin: 8px 0;
    min-width: 180px;
    height: 25px;
}

label {
    /*font-size: 16px;*/
    font-weight: 700;
    color: #228015;
}

li {
    list-style-type: none;
    padding-bottom: 20px;
    color: #0f57d8;
}

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: #4242ed;
    padding: 24px 0;
}

h2, h3 {
    color: dodgerblue;
}

.github__container {
    max-width: 800px;
    margin: 0 auto;
}

.sub-title {
    display: inline-block;
    font-weight: 700;
    width: 200px;
    color: darkgreen;
}

.main__field {
    padding: 8px 20px 8px;
}

.field-avatar {
    position: relative;
    padding: 0;
}

.avatar {
    max-height: 150px;
    border-radius: 50%;
    position: absolute;
    top: -60px;
    right: 0;
}

ol {
    list-style-type: decimal;
}

.repositories > li {
    padding: 10px 0;
    color: black;
}

.repositories > li > p {
    color: #40577b;
    font-style: italic;
}

.active {
    display: none;
}
